import  java.util.Scanner;

class Main {
  public static void main(String[] args) {
    Scanner leia = new Scanner(System.in);
    Academico academico= new Academico();
    double p1,p2,t1,t2,s1,s2,mp,mt,ms,media;
    String status;

    p1=leia.nextDouble();
    p2=leia.nextDouble();
    t1=leia.nextDouble();
    t2=leia.nextDouble();
    s1=leia.nextDouble();
    s2=leia.nextDouble();
    
    mp=academico.getMaior(p1,p2);
    mt=academico.getMaior(t1,t2);
    ms=academico.getMaior(s1,s2);

  media=academico.getMediaSimples(mp,mt,ms);
  status=academico.getStatus(media);
  
  System.out.println("Média="+ media);
  System.out.println("Status="+ status);
      }
}

public class Academico{
  double getMaior(double a,double b){
     double res;

     if(a>b)
      res=a;
      else
      res=b;

      return res;
   }
  
  double getMediaSimples(double a,double b,double c){
    
    return (a+b+c)/3;
  }
    String getStatus(double a ){
    
    if(a>=6)
      return "Aprovado";
      return "Reprovado";
    }
   }



